html {
  font-size: 16px;
  color: #fff;
  background: #000;
  background-image: -webkit-linear-gradient(-90deg, #000, #000, #8c0000);
}
body {
  text-rendering: optimizeLegibility;
  position: relative;
  min-height: 700px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  font-family: sans-serif;
  font-weight: 700;
}
div {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
#fb-root {
  position: static;
}
button {
  position: relative;
  user-select: none;
  appearance: none;
  display: inline-block;
  cursor: pointer;
  border: 0;
  border-radius: 0.1875em;
  font-size: 1.25em;
  padding: 1em 1.6em;
  margin: 0;
  text-align: center;
  font-family: inherit;
  text-decoration: none;
  overflow: hidden;
  font-weight: 700;
  color: #000;
  background: rgba(255,255,255,0.15);
  color: #fff;
}
@media (max-width: 1000px) {
  button {
    font-size: 1em;
  }
}
button:hover {
  text-decoration: none;
}
button[disabled] {
  opacity: 0.7;
}
button[disabled]:hover,
button[disabled]:focus,
button[disabled]:focus:hover {
  box-shadow: none !important;
}
button:hover {
  background: #fff;
  color: #000;
  box-shadow: 0 0.1875em 0.375em -0.1875em rgba(0,0,0,0.325);
}
button:hover:active,
button.active {
  background: rgba(255,255,255,0.1);
}
button:focus {
  outline: none;
}
button:focus:after {
  content: "";
  position: absolute;
  top: 0.35em;
  right: 0.35em;
  bottom: 0.35em;
  left: 0.35em;
  border-radius: 0;
  box-shadow: inset 0 0 0 0.0625em #f00;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
  border-radius: 0.125em;
}
button:focus:active:after {
  opacity: 0;
}
.logo {
  background-image: url("images/logo.png");
  background-repeat: no-repeat;
  width: 180px;
  height: 130px;
  top: 25px;
  margin-top: 0;
  max-width: 100%;
  background-size: 100%;
  font-size: 0;
  z-index: 3;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .logo {
    background-image: url("images/logo@2x.png");
  }
}
.hero {
  width: 50%;
  left: 50%;
  text-align: center;
  z-index: 2;
  padding: 100px 20px;
  height: 420px;
  top: 130px;
  bottom: 0px;
}
@media (max-width: 800px) {
  .hero {
    width: 100%;
    left: 0;
    right: 0;
    padding-top: 50px;
  }
}
.hero h1 {
  font-size: 2em;
  color: #fff;
  display: inline-block;
  padding: 0.3em;
  line-height: 1;
  margin-bottom: 1em;
}
@media (max-width: 1400px) {
  .hero h1 {
    font-size: 1.75em;
  }
}
@media (max-width: 1200px) {
  .hero h1 {
    font-size: 1.5em;
  }
}
@media (max-width: 1000px) {
  .hero h1 {
    font-size: 1.25em;
  }
}
@media (max-width: 950px) {
  .hero h1 {
    font-size: 1em;
  }
}
@media (max-width: 800px) {
  .hero h1 {
    font-size: 2em;
    line-height: 1.1em;
    padding-left: 1em;
    padding-right: 1em;
  }
}
.hero p {
  margin-bottom: 1em;
}
.hero p a {
  color: #fff;
  text-decoration: none;
}
.hero .twitter {
  -webkit-filter: hue-rotate(165deg) saturate(2.5);
  margin-right: 20px;
  opacity: 0.9;
}
.hero .facebook {
  -webkit-filter: hue-rotate(126deg) saturate(2.5);
  opacity: 0.8;
}
.hero .social iframe {
  opacity: 0;
  transition: opacity 1s 1s ease-in-out;
}
.hero .social.loaded iframe {
  opacity: 1;
}
.graphic {
  width: 50%;
  margin-left: 0;
  top: 200px;
  bottom: 100px;
  z-index: 1;
}
@media (max-width: 800px) {
  .graphic {
    display: none;
  }
}
.chrome {
  min-width: 470px;
  margin: 0;
  right: 0;
  margin-right: 0;
  left: auto;
  width: 90%;
}
.chrome .chrome-top,
.chrome chrome-top-left,
.chrome .chrome-top-right {
  height: 72px;
}
.chrome .chrome-top {
  background-image: url("images/chrome-top.png");
  background-repeat: repeat;
  margin-top: 0;
  background-size: contain;
  width: 100%;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.chrome .chrome-top-left {
  background-image: url("images/chrome-top-left.png");
  background-repeat: no-repeat;
  margin-top: 0;
  margin-left: 0;
  width: 330px;
  border-top-left-radius: 4px;
}
.chrome .chrome-top-right {
  background-image: url("images/chrome-top-right.png");
  background-repeat: no-repeat;
  margin-top: 0;
  margin-right: 0;
  width: 88px;
  border-top-right-radius: 4px;
}
.chrome .chrome-body {
  top: 72px;
  margin: 0;
  background: #000;
  border-radius: 0 0 4px 4px;
}
.chrome .chrome-body .whoops {
  background-image: url("images/whoops.png");
  background-repeat: no-repeat;
  background-position: top center;
  max-width: 100%;
  max-height: 100%;
  background-size: contain;
  margin-top: 0;
  margin-left: 0;
  border-radius: 0 0 4px 4px;
}
.footer {
  top: auto;
  bottom: 38px;
  z-index: 0;
  font-weight: 700;
  text-align: center;
}
.footer a {
  color: rgba(255,255,255,0.5);
  text-decoration: none;
}
.footer a:hover {
  color: #fff;
}
@media (max-width: 800px) {
  .footer *:not(:first-child) {
    display: none;
  }
}
@-webkit-keyframes fade-in {
  to {
    opacity: 1;
  }
}
